<!-- ジャンル一覧・追加ページ -->
<div class="container px-5 px-sm-0">
  <div class="row" style="margin-top:25px;">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h1 class="genre-head">ジャンル一覧・追加</h1>
      